html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

/* -------------- CSS starts here ----------------*/
/* main colours:  #9d8189; #1e1e17; #FBEEE6; */

/* ------------------ General ------------------- */
/* ---------------------------------------------- */


html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    background: #FBEEE6;
    color: #1e1e17;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

/* --------------------- Nav Bar --------------------- */

header{
    height: calc(100vh - 260px);
    width: 100%;
}
.nav{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu, 
.heading {
    width: 50%;
}
.menu{
    display:flex;
    justify-content: flex-end;
    margin-right: 25px;
}
nav a{
    margin-left:25px;
    padding: 5px;
    color: #1e1e17;
}
.heading a,
.heading h1{
    margin-left:0px;
}
.header {
    display:flex;
    flex-direction: row;
    margin-top: 5px;
}
.menu a {
color: #9d8189;
text-decoration: none; ow
}
.footerEmail a:hover,
.menu a:hover,
.menu a:focus{
    border-bottom: 0.2rem solid #9d8189;
}
.selected {
    border-bottom: 0.2rem solid #9d8189;
}
main{
    margin-bottom:50px;
}
a{
    text-decoration: none;
    color: #693d52;  
}
h1{
    margin-left:25px;   
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.6rem;
}
p,
li {
    
    font-size:1.6rem
}
.scroll{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    width:100px;
    height:100px;
    border-radius:50%;
    font-size: 8rem;  
}
.scroll a{
    color: #57574c;
    opacity:0.5;
}
.scroll:hover{
    box-shadow: 1px 5px 8px #b1afaf;
}

/* --------------------- Footer --------------------- */
/*--------------------------------------------------- */

footer{
    background-color:#f1f1ea; 
}
.footerContent{
    height:175px;
    display:flex;
    justify-content: center;
}
.footerLeft{
    width:35%;
}
.footerRight{
    width:65%;
}
.footerRight{
    display:flex;
    flex-direction:column;
}
footer h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #693d52;
    opacity: 0.5;
    text-transform: uppercase;
    
}
footer h4::after{
    content: ""; 
    display: block;
    width: 50px; 
    padding-top:5px;
    border-bottom: 4px solid #693d52;
    opacity: 0.5;
}
.footerLinks{
    display:flex;
    justify-content: left; 
    margin:0;
}
.footerLinks a{
    opacity: 0.5;
    margin-right: 10px;
}
.footerEmail{
    font-size: 2.1rem;
    opacity: 0.5;
}
.copyright {
    font-size: 1.2rem;
    color: #693d52;
    opacity: 0.5;
    margin-bottom: 5px;
}
.button {
	-webkit-appearance: none;
    -moz-appearance: none;

	min-width: 50px;
	max-width: 150px;
	display: block;
    margin-top: 15px;
    padding: 0.5em 0.5em;
    
	border-radius: 10px;
    border: 2px solid #9d8189;
    opacity:0.5;
    cursor: pointer;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #9d8189;

	background-color: none;
	position: relative;
    z-index: 1;
}
.footerButton {
    -webkit-appearance: none;
    -moz-appearance: none;

	min-width: 50px;
	max-width: 150px;
    
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    display: block;
    margin-top: 15px;
    padding: 0.5em;

    background-color: #9d8189;
    color: white;    
    opacity:0.5;
    cursor: pointer;
}
.footerButton:hover,
.footerButton:focus{
    background-color: #FBEEE6;
    color: #9d8189;
    border-bottom: 0.2rem solid #9d8189;
}
.button:focus {
    outline: none;
    color: #fff;
    background-color: #9d8189;
}

/*--------------------Main Page ------------------*/
/* ---------------------------------------------- */

.blurb h2{
    font-size: 4rem;
}
.blurb h3{
    font-weight: 600;
    color: #693d52;
    font-size: 2.4rem;
    margin-top:0;
}
.imgLanding,
.aboutPicture {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.imgContainer{
    width: 50%;
    height: 570px;
    
}
.blurb{ 
    display:flex;
    flex-direction: column;
    height:400px;
    justify-content: center;
    width: 50%;
}

/* ---------------- Project Page ---------------- */
/* ---------------------------------------------- */
.projectType{
    background-color:  #ffdab9;
    border-radius: 25px;
    padding: 2px 25px;
    margin-top: 15px;
}
.project{
    background-color: #fdfdfc;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.project a {
    color: #693d52;
    font-size: 1.5rem;
}
    .project a:hover,
    .project a:focus{
        border-bottom: 0.2rem solid #9d8189;
    }
.project p{
    font-size: 1.5rem;
}
.projectLink{
    margin: 5px 0;
}
.projectPicture{
    height:75%;
    margin-left:5%
}
.project h4{
    font-size: 1.4rem; 
}
.projectDiscription, 
.projectPicture{
    width: 47.5%;
}
.project .soon{
    color: #1e1e17;
    opacity:0.5;
    font-size: 1.5rem;
}

/* ---------------Contact Specific--------------- */
/* ---------------------------------------------- */
.contact{
    display:flex;
    justify-content: center;
}
.contactEmail,
.contactEmail{
    background-color: #9d8189;
    color: white;
    margin: 0 5px 0 0;
    padding: 0 5px;        
}  
.contactEmail:hover,
.contactEmail:focus{
    background-color: #FBEEE6;
    color: #9d8189;
    border-bottom: 0.2rem solid #9d8189;
}
/* -----------------About Specific--------------- */  
/* ---------------------------------------------- */
.about{
    display:flex;
    align-items: center;
}
.aboutInfo,
.aboutPicture{
    width: 45%;
}
.aboutPicture{
    margin-right: 5%;
}
.about p{
    font-size:1.6rem;
}
.aboutInfo a:hover,
.aboutInfo a:focus{
    border-bottom: 0.2rem solid #9d8189;
}
.skills{
    display:flex;
    margin-top: 25px;
}
.skillset{
    width:calc(100% / 3);
    text-align: center;
}
.skillType{
    color: #868644;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillType::after{
    content: ""; 
    display: block;
    width: 50px; 
    padding-top: 5px; 
    border-bottom: 4px solid #868644;
}
.about li,
.skills li{
    font-size:1.6rem;
    list-style-type: none;
    line-height: 2.2rem;
}
.skills ul{
    padding-left: 0px;
    margin-top:0;
}
.overview{
    margin: 50px 0;
}
.timeline {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.projectLink a,
.aboutInfo a{
    background-color: #9d8189;
    color: white;
    margin: 0 5px 0 0;
    padding: 0 5px;        #FBEEE6
}   
.aboutInfo a:hover,
.aboutInfo a:focus{
    background-color: #FBEEE6;
    color: #9d8189;
}
.projectLink a:hover,
.projectLink a:focus{
    background-color: #fdfdfc;
    color: #9d8189;
}
/*----------------------Projects------------------*/
/* ---------------------------------------------- */

/*---- Back to Projects ----*/
.back{
    width:100%;
    display:flex;
    align-content:center;    
}
.back p{
    color: #1e1e17;
}
.back p:hover,
.back p:focus{
    color: #9d8189;
}


/*--------------------MEDIA -----------------*/
/* ---------------------------------------------- */
@media (max-width: 1000px) {
    /*---- Main Page ----*/
    .blurb {
        text-align: center;
        width:100%;
        height:50vh;
    }
    .header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .imgContainer{
        width: 300px;
        height: 50vh;
        
    }

    /*--- About Section ---*/
    .about{
        flex-direction: column-reverse;
    }
    .aboutPicture{
        margin-right:0;
        display:none;
    }
    .aboutInfo{
        width:100%;
    }
    .skillset{
        width:100%;
    }
    .skills{
        flex-direction:column;
        align-items:center;
    }

    /*---- Project Specific ----*/  
    .project{
        flex-direction: column;
    }
    .projectDescription, 
    .projectPicture{
        width: 100%;
        height:50%;
        margin-left:0;
        margin-bottom: 10px;
    }
    .footerLeft{
        width:50%;
    }
    .footerRight{
        width:50%;
    }
}

@media (max-width: 600px) {
 /*-- main ---*/
    header{
        height:100%
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        justify-content: space-between;
        height: 40px;
    }
    .menu a{
        background-color: #9d8189;
        color: white;
        margin: 0 5px 0 0;        
    }   
    .menu a:hover,
    .menu a:focus{
        background-color: #FBEEE6;
        color: #9d8189;
    }
    .menu #selectedMobile{
        background-color: #FBEEE6;
        color: #9d8189;
    }
    .imgLanding{
        display:hi;
    }
    .indexDown{
        display:none;
    }

/*---- Footer ----*/
    .footerContent{
        height:250px;
    }
    .footerContent h4,
    .footerContent a{
        font-size:1.5rem;
    }
    .button{
        margin-top: 5px;
        padding: 0.50em 0.25em;
    }
    .footerContent h4{
        margin: 20px 0 5px 0;
    }
    .footerContent{
        flex-direction: column
    }

